<div class="container">
  <div class="card">
    <h2 class="text-center card-header">Change Password</h2>
    <form id="changePasswordForm" class="card-body d-flex flex-column gap-4">
      <div id="messagePanel" class="alert m-0 d-none"></div>
      <div class="form-group">
        <label for="oldPassword" class="text-dark mb-1 ps-2">Old Password</label>
        <input type="password" id="oldPassword" class="form-control" placeholder="Enter old password" required>
      </div>
      <div class="form-group">
        <label for="newPassword" class="text-dark mb-1 ps-2">New Password</label>
        <input type="password" id="newPassword" class="form-control" placeholder="Enter new password" required>
      </div>
      <div class="form-group">
        <label for="confirmPassword" class="text-dark mb-1 ps-2">Confirm New Password</label>
        <input type="password" id="confirmPassword" class="form-control" placeholder="Confirm new password" required>
      </div>
      <button type="submit" class="btn btn-primary">Change Password</button>
    </form>
  </div>

</div>

<script>
  document.getElementById("changePasswordForm").addEventListener("submit", async function(event) {
    event.preventDefault();

    const oldPassword = document.getElementById("oldPassword").value;
    const newPassword = document.getElementById("newPassword").value;
    const confirmPassword = document.getElementById("confirmPassword").value;

    if (newPassword !== confirmPassword) {
      showMessage("New passwords do not match!", "alert-danger");
      return;
    }

    const response = await fetch(`/users/change-password/<%=user.id%>`, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        oldPassword: oldPassword,
        newPassword: newPassword
      })
    });

    if (response.ok) {
      showMessage("Password changed successfully!", "alert-success");
    } else {
      const result = await response.json();
      showMessage(result.message || "Password change failed!", "alert-danger");
    }
  });

  function showMessage(message, alertClass) {
    const messagePanel = document.getElementById("messagePanel");
    messagePanel.innerText = message;
    messagePanel.className = `alert ${alertClass}`;
    messagePanel.classList.remove("d-none");
  }
</script>
</div>