<div class="container">
  <h1 class="card-title text-center text-success">Registered successfully!</h1>

  <p>Welcome!</p>
  <p>Your registration was successful. </p>
  <p>Please <a href="users/signin">sign in</a> to place orders and enjoy our store's services!</p>
</div>