 <!-- Menu Start -->
 <div class="container-xxl py-5">
   <div class="container">
     <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
       <h5 class="section-title ff-secondary text-center text-primary fw-normal">Food Menu</h5>
       <h1 class="mb-5">Most Popular Items</h1>
     </div>
     <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.1s">
       <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5">
         <li class="nav-item">
           <a class="d-flex align-items-center text-start mx-3 ms-0 pb-3 active" data-bs-toggle="pill" href="#tab-1">
             <i class="fa fa-coffee fa-2x text-primary"></i>
             <div class="ps-3">
               <small class="text-body">Popular</small>
               <h6 class="mt-n1 mb-0">Breakfast</h6>
             </div>
           </a>
         </li>
         <li class="nav-item">
           <a class="d-flex align-items-center text-start mx-3 pb-3" data-bs-toggle="pill" href="#tab-2">
             <i class="fa fa-hamburger fa-2x text-primary"></i>
             <div class="ps-3">
               <small class="text-body">Special</small>
               <h6 class="mt-n1 mb-0">Launch</h6>
             </div>
           </a>
         </li>
         <li class="nav-item">
           <a class="d-flex align-items-center text-start mx-3 me-0 pb-3" data-bs-toggle="pill" href="#tab-3">
             <i class="fa fa-utensils fa-2x text-primary"></i>
             <div class="ps-3">
               <small class="text-body">Lovely</small>
               <h6 class="mt-n1 mb-0">Dinner</h6>
             </div>
           </a>
         </li>
       </ul>
       <div class="tab-content">
         <div id="tab-1" class="tab-pane fade show p-0 active">
           <div class="row g-4">
             <div class="col-lg-6">
               <div class="d-flex align-items-center">
                 <img role="button" class="flex-shrink-0 img-fluid rounded" src="img/menu-1.jpg" alt="" style="width: 80px;" onclick="showDescription(1)">
                 <div class="w-100 d-flex flex-column text-start ps-4">
                   <h5 class="d-flex justify-content-between border-bottom pb-2">
                     <span role="button" onclick="showDescription(1)">Chicken Burger</span>
                     <span class="text-primary">$115</span>
                   </h5>
                   <div class="row g-3">
                     <small class="col-10 fst-italic">Yummy chicken, best for your dinner </small>
                     <button class="col-2 btn btn-primary" onclick="addToCart()">
                       <img src="https://www.svgrepo.com/show/488039/add-to-cart.svg" width="32" height="32" />
                     </button>
                   </div>
                 </div>
               </div>
             </div>
             <div class="col-lg-6">
               <div class="d-flex align-items-center">
                 <img role="button" class="flex-shrink-0 img-fluid rounded" src="img/menu-2.jpg" alt="" style="width: 80px;" onclick="showDescription(2)">
                 <div class="w-100 d-flex flex-column text-start ps-4">
                   <h5 class="d-flex justify-content-between border-bottom pb-2">
                     <span role="button" onclick="showDescription(2)">Chicken Burger</span>
                     <span class="text-primary">$115</span>
                   </h5>
                   <div class="row g-3">
                     <small class="col-10 fst-italic">Yummy chicken, best for your dinner </small>
                     <button class="col-2 btn btn-primary" onclick="addToCart()">
                       <img src="https://www.svgrepo.com/show/488039/add-to-cart.svg" width="32" height="32" />
                     </button>
                   </div>
                 </div>
               </div>
             </div>
             <div class="col-lg-6">
               <div class="d-flex align-items-center">
                 <img role="button" class="flex-shrink-0 img-fluid rounded" src="img/menu-3.jpg" alt="" style="width: 80px;" onclick="showDescription(3)">
                 <div class="w-100 d-flex flex-column text-start ps-4">
                   <h5 class="d-flex justify-content-between border-bottom pb-2">
                     <span role="button" onclick="showDescription(3)">Chicken Burger</span>
                     <span class="text-primary">$115</span>
                   </h5>
                   <div class="row g-3">
                     <small class="col-10 fst-italic">Yummy chicken, best for your dinner </small>
                     <button class="col-2 btn btn-primary" onclick="addToCart()">
                       <img src="https://www.svgrepo.com/show/488039/add-to-cart.svg" width="32" height="32" />
                     </button>
                   </div>
                 </div>
               </div>
             </div>
             <div class="col-lg-6">
               <div class="d-flex align-items-center">
                 <img role="button" class="flex-shrink-0 img-fluid rounded" src="img/menu-4.jpg" alt="" style="width: 80px;" onclick="showDescription(4)">
                 <div class="w-100 d-flex flex-column text-start ps-4">
                   <h5 class="d-flex justify-content-between border-bottom pb-2">
                     <span role="button" onclick="showDescription(4)">Chicken Burger</span>
                     <span class="text-primary">$115</span>
                   </h5>
                   <div class="row g-3">
                     <small class="col-10 fst-italic">Yummy chicken, best for your dinner </small>
                     <button class="col-2 btn btn-primary" onclick="addToCart()">
                       <img src="https://www.svgrepo.com/show/488039/add-to-cart.svg" width="32" height="32" />
                     </button>
                   </div>
                 </div>
               </div>
             </div>
             <div class="col-lg-6">
               <div class="d-flex align-items-center">
                 <img role="button" class="flex-shrink-0 img-fluid rounded" src="img/menu-5.jpg" alt="" style="width: 80px;" onclick="showDescription(5)">
                 <div class="w-100 d-flex flex-column text-start ps-4">
                   <h5 class="d-flex justify-content-between border-bottom pb-2">
                     <span role="button" onclick="showDescription(5)">Chicken Burger</span>
                     <span class="text-primary">$115</span>
                   </h5>
                   <div class="row g-3">
                     <small class="col-10 fst-italic">Yummy chicken, best for your dinner </small>
                     <button class="col-2 btn btn-primary" onclick="addToCart()">
                       <img src="https://www.svgrepo.com/show/488039/add-to-cart.svg" width="32" height="32" />
                     </button>
                   </div>
                 </div>
               </div>
             </div>
             <div class="col-lg-6">
               <div class="d-flex align-items-center">
                 <img role="button" class="flex-shrink-0 img-fluid rounded" src="img/menu-6.jpg" alt="" style="width: 80px;" onclick="showDescription(6)">
                 <div class="w-100 d-flex flex-column text-start ps-4">
                   <h5 class="d-flex justify-content-between border-bottom pb-2">
                     <span role="button" onclick="showDescription(6)">Chicken Burger</span>
                     <span class="text-primary">$115</span>
                   </h5>
                   <div class="row g-3">
                     <small class="col-10 fst-italic">Yummy chicken, best for your dinner </small>
                     <button class="col-2 btn btn-primary" onclick="addToCart()">
                       <img src="https://www.svgrepo.com/show/488039/add-to-cart.svg" width="32" height="32" />
                     </button>
                   </div>
                 </div>
               </div>
             </div>
             <div class="col-lg-6">
               <div class="d-flex align-items-center">
                 <img role="button" class="flex-shrink-0 img-fluid rounded" src="img/menu-7.jpg" alt="" style="width: 80px;" onclick="showDescription(7)">
                 <div class="w-100 d-flex flex-column text-start ps-4">
                   <h5 class="d-flex justify-content-between border-bottom pb-2">
                     <span role="button" onclick="showDescription(7)">Chicken Burger</span>
                     <span class="text-primary">$115</span>
                   </h5>
                   <div class="row g-3">
                     <small class="col-10 fst-italic">Yummy chicken, best for your dinner </small>
                     <button class="col-2 btn btn-primary" onclick="addToCart()">
                       <img src="https://www.svgrepo.com/show/488039/add-to-cart.svg" width="32" height="32" />
                     </button>
                   </div>
                 </div>
               </div>
             </div>
             <div class="col-lg-6">
               <div class="d-flex align-items-center">
                 <img role="button" class="flex-shrink-0 img-fluid rounded" src="img/menu-8.jpg" alt="" style="width: 80px;" onclick="showDescription(8)">
                 <div class="w-100 d-flex flex-column text-start ps-4">
                   <h5 class="d-flex justify-content-between border-bottom pb-2">
                     <span role="button" onclick="showDescription(8)">Chicken Burger</span>
                     <span class="text-primary">$115</span>
                   </h5>
                   <div class="row g-3">
                     <small class="col-10 fst-italic">Yummy chicken, best for your dinner </small>
                     <button class="col-2 btn btn-primary" onclick="addToCart()">
                       <img src="https://www.svgrepo.com/show/488039/add-to-cart.svg" width="32" height="32" />
                     </button>
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </div>
         <div id="tab-2" class="tab-pane fade show p-0">
           <div class="row g-4">
             <div class="col-lg-6">
               <div class="d-flex align-items-center">
                 <img role="button" class="flex-shrink-0 img-fluid rounded" src="img/menu-1.jpg" alt="" style="width: 80px;" onclick="showDescription(1)">
                 <div class="w-100 d-flex flex-column text-start ps-4">
                   <h5 class="d-flex justify-content-between border-bottom pb-2">
                     <span role="button" onclick="showDescription(1)">Chicken Burger</span>
                     <span class="text-primary">$115</span>
                   </h5>
                   <div class="row g-3">
                     <small class="col-10 fst-italic">Yummy chicken, best for your dinner </small>
                     <button class="col-2 btn btn-primary" onclick="addToCart()">
                       <img src="https://www.svgrepo.com/show/488039/add-to-cart.svg" width="32" height="32" />
                     </button>
                   </div>
                 </div>
               </div>
             </div>
             <div class="col-lg-6">
               <div class="d-flex align-items-center">
                 <img role="button" class="flex-shrink-0 img-fluid rounded" src="img/menu-2.jpg" alt="" style="width: 80px;" onclick="showDescription(2)">
                 <div class="w-100 d-flex flex-column text-start ps-4">
                   <h5 class="d-flex justify-content-between border-bottom pb-2">
                     <span role="button" onclick="showDescription(2)">Chicken Burger</span>
                     <span class="text-primary">$115</span>
                   </h5>
                   <div class="row g-3">
                     <small class="col-10 fst-italic">Yummy chicken, best for your dinner </small>
                     <button class="col-2 btn btn-primary" onclick="addToCart()">
                       <img src="https://www.svgrepo.com/show/488039/add-to-cart.svg" width="32" height="32" />
                     </button>
                   </div>
                 </div>
               </div>
             </div>
             <div class="col-lg-6">
               <div class="d-flex align-items-center">
                 <img role="button" class="flex-shrink-0 img-fluid rounded" src="img/menu-3.jpg" alt="" style="width: 80px;" onclick="showDescription(3)">
                 <div class="w-100 d-flex flex-column text-start ps-4">
                   <h5 class="d-flex justify-content-between border-bottom pb-2">
                     <span role="button" onclick="showDescription(3)">Chicken Burger</span>
                     <span class="text-primary">$115</span>
                   </h5>
                   <div class="row g-3">
                     <small class="col-10 fst-italic">Yummy chicken, best for your dinner </small>
                     <button class="col-2 btn btn-primary" onclick="addToCart()">
                       <img src="https://www.svgrepo.com/show/488039/add-to-cart.svg" width="32" height="32" />
                     </button>
                   </div>
                 </div>
               </div>
             </div>
             <div class="col-lg-6">
               <div class="d-flex align-items-center">
                 <img role="button" class="flex-shrink-0 img-fluid rounded" src="img/menu-4.jpg" alt="" style="width: 80px;" onclick="showDescription(4)">
                 <div class="w-100 d-flex flex-column text-start ps-4">
                   <h5 class="d-flex justify-content-between border-bottom pb-2">
                     <span role="button" onclick="showDescription(4)">Chicken Burger</span>
                     <span class="text-primary">$115</span>
                   </h5>
                   <div class="row g-3">
                     <small class="col-10 fst-italic">Yummy chicken, best for your dinner </small>
                     <button class="col-2 btn btn-primary" onclick="addToCart()">
                       <img src="https://www.svgrepo.com/show/488039/add-to-cart.svg" width="32" height="32" />
                     </button>
                   </div>
                 </div>
               </div>
             </div>
             <div class="col-lg-6">
               <div class="d-flex align-items-center">
                 <img role="button" class="flex-shrink-0 img-fluid rounded" src="img/menu-5.jpg" alt="" style="width: 80px;" onclick="showDescription(5)">
                 <div class="w-100 d-flex flex-column text-start ps-4">
                   <h5 class="d-flex justify-content-between border-bottom pb-2">
                     <span role="button" onclick="showDescription(5)">Chicken Burger</span>
                     <span class="text-primary">$115</span>
                   </h5>
                   <div class="row g-3">
                     <small class="col-10 fst-italic">Yummy chicken, best for your dinner </small>
                     <button class="col-2 btn btn-primary" onclick="addToCart()">
                       <img src="https://www.svgrepo.com/show/488039/add-to-cart.svg" width="32" height="32" />
                     </button>
                   </div>
                 </div>
               </div>
             </div>
             <div class="col-lg-6">
               <div class="d-flex align-items-center">
                 <img role="button" class="flex-shrink-0 img-fluid rounded" src="img/menu-6.jpg" alt="" style="width: 80px;" onclick="showDescription(6)">
                 <div class="w-100 d-flex flex-column text-start ps-4">
                   <h5 class="d-flex justify-content-between border-bottom pb-2">
                     <span role="button" onclick="showDescription(6)">Chicken Burger</span>
                     <span class="text-primary">$115</span>
                   </h5>
                   <div class="row g-3">
                     <small class="col-10 fst-italic">Yummy chicken, best for your dinner </small>
                     <button class="col-2 btn btn-primary" onclick="addToCart()">
                       <img src="https://www.svgrepo.com/show/488039/add-to-cart.svg" width="32" height="32" />
                     </button>
                   </div>
                 </div>
               </div>
             </div>
             <div class="col-lg-6">
               <div class="d-flex align-items-center">
                 <img role="button" class="flex-shrink-0 img-fluid rounded" src="img/menu-7.jpg" alt="" style="width: 80px;" onclick="showDescription(7)">
                 <div class="w-100 d-flex flex-column text-start ps-4">
                   <h5 class="d-flex justify-content-between border-bottom pb-2">
                     <span role="button" onclick="showDescription(7)">Chicken Burger</span>
                     <span class="text-primary">$115</span>
                   </h5>
                   <div class="row g-3">
                     <small class="col-10 fst-italic">Yummy chicken, best for your dinner </small>
                     <button class="col-2 btn btn-primary" onclick="addToCart()">
                       <img src="https://www.svgrepo.com/show/488039/add-to-cart.svg" width="32" height="32" />
                     </button>
                   </div>
                 </div>
               </div>
             </div>
             <div class="col-lg-6">
               <div class="d-flex align-items-center">
                 <img role="button" class="flex-shrink-0 img-fluid rounded" src="img/menu-8.jpg" alt="" style="width: 80px;" onclick="showDescription(8)">
                 <div class="w-100 d-flex flex-column text-start ps-4">
                   <h5 class="d-flex justify-content-between border-bottom pb-2">
                     <span role="button" onclick="showDescription(8)">Chicken Burger</span>
                     <span class="text-primary">$115</span>
                   </h5>
                   <div class="row g-3">
                     <small class="col-10 fst-italic">Yummy chicken, best for your dinner </small>
                     <button class="col-2 btn btn-primary" onclick="addToCart()">
                       <img src="https://www.svgrepo.com/show/488039/add-to-cart.svg" width="32" height="32" />
                     </button>
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </div>
         <div id="tab-3" class="tab-pane fade show p-0">
           <div class="row g-4">
             <div class="col-lg-6">
               <div class="d-flex align-items-center">
                 <img role="button" class="flex-shrink-0 img-fluid rounded" src="img/menu-1.jpg" alt="" style="width: 80px;" onclick="showDescription(1)">
                 <div class="w-100 d-flex flex-column text-start ps-4">
                   <h5 class="d-flex justify-content-between border-bottom pb-2">
                     <span role="button" onclick="showDescription(1)">Chicken Burger</span>
                     <span class="text-primary">$115</span>
                   </h5>
                   <div class="row g-3">
                     <small class="col-10 fst-italic">Yummy chicken, best for your dinner </small>
                     <button class="col-2 btn btn-primary" onclick="addToCart()">
                       <img src="https://www.svgrepo.com/show/488039/add-to-cart.svg" width="32" height="32" />
                     </button>
                   </div>
                 </div>
               </div>
             </div>
             <div class="col-lg-6">
               <div class="d-flex align-items-center">
                 <img role="button" class="flex-shrink-0 img-fluid rounded" src="img/menu-2.jpg" alt="" style="width: 80px;" onclick="showDescription(2)">
                 <div class="w-100 d-flex flex-column text-start ps-4">
                   <h5 class="d-flex justify-content-between border-bottom pb-2">
                     <span role="button" onclick="showDescription(2)">Chicken Burger</span>
                     <span class="text-primary">$115</span>
                   </h5>
                   <div class="row g-3">
                     <small class="col-10 fst-italic">Yummy chicken, best for your dinner </small>
                     <button class="col-2 btn btn-primary" onclick="addToCart()">
                       <img src="https://www.svgrepo.com/show/488039/add-to-cart.svg" width="32" height="32" />
                     </button>
                   </div>
                 </div>
               </div>
             </div>
             <div class="col-lg-6">
               <div class="d-flex align-items-center">
                 <img role="button" class="flex-shrink-0 img-fluid rounded" src="img/menu-3.jpg" alt="" style="width: 80px;" onclick="showDescription(3)">
                 <div class="w-100 d-flex flex-column text-start ps-4">
                   <h5 class="d-flex justify-content-between border-bottom pb-2">
                     <span role="button" onclick="showDescription(3)">Chicken Burger</span>
                     <span class="text-primary">$115</span>
                   </h5>
                   <div class="row g-3">
                     <small class="col-10 fst-italic">Yummy chicken, best for your dinner </small>
                     <button class="col-2 btn btn-primary" onclick="addToCart()">
                       <img src="https://www.svgrepo.com/show/488039/add-to-cart.svg" width="32" height="32" />
                     </button>
                   </div>
                 </div>
               </div>
             </div>
             <div class="col-lg-6">
               <div class="d-flex align-items-center">
                 <img role="button" class="flex-shrink-0 img-fluid rounded" src="img/menu-4.jpg" alt="" style="width: 80px;" onclick="showDescription(4)">
                 <div class="w-100 d-flex flex-column text-start ps-4">
                   <h5 class="d-flex justify-content-between border-bottom pb-2">
                     <span role="button" onclick="showDescription(4)">Chicken Burger</span>
                     <span class="text-primary">$115</span>
                   </h5>
                   <div class="row g-3">
                     <small class="col-10 fst-italic">Yummy chicken, best for your dinner </small>
                     <button class="col-2 btn btn-primary" onclick="addToCart()">
                       <img src="https://www.svgrepo.com/show/488039/add-to-cart.svg" width="32" height="32" />
                     </button>
                   </div>
                 </div>
               </div>
             </div>
             <div class="col-lg-6">
               <div class="d-flex align-items-center">
                 <img role="button" class="flex-shrink-0 img-fluid rounded" src="img/menu-5.jpg" alt="" style="width: 80px;" onclick="showDescription(5)">
                 <div class="w-100 d-flex flex-column text-start ps-4">
                   <h5 class="d-flex justify-content-between border-bottom pb-2">
                     <span role="button" onclick="showDescription(5)">Chicken Burger</span>
                     <span class="text-primary">$115</span>
                   </h5>
                   <div class="row g-3">
                     <small class="col-10 fst-italic">Yummy chicken, best for your dinner </small>
                     <button class="col-2 btn btn-primary" onclick="addToCart()">
                       <img src="https://www.svgrepo.com/show/488039/add-to-cart.svg" width="32" height="32" />
                     </button>
                   </div>
                 </div>
               </div>
             </div>
             <div class="col-lg-6">
               <div class="d-flex align-items-center">
                 <img role="button" class="flex-shrink-0 img-fluid rounded" src="img/menu-6.jpg" alt="" style="width: 80px;" onclick="showDescription(6)">
                 <div class="w-100 d-flex flex-column text-start ps-4">
                   <h5 class="d-flex justify-content-between border-bottom pb-2">
                     <span role="button" onclick="showDescription(6)">Chicken Burger</span>
                     <span class="text-primary">$115</span>
                   </h5>
                   <div class="row g-3">
                     <small class="col-10 fst-italic">Yummy chicken, best for your dinner </small>
                     <button class="col-2 btn btn-primary" onclick="addToCart()">
                       <img src="https://www.svgrepo.com/show/488039/add-to-cart.svg" width="32" height="32" />
                     </button>
                   </div>
                 </div>
               </div>
             </div>
             <div class="col-lg-6">
               <div class="d-flex align-items-center">
                 <img role="button" class="flex-shrink-0 img-fluid rounded" src="img/menu-7.jpg" alt="" style="width: 80px;" onclick="showDescription(7)">
                 <div class="w-100 d-flex flex-column text-start ps-4">
                   <h5 class="d-flex justify-content-between border-bottom pb-2">
                     <span role="button" onclick="showDescription(7)">Chicken Burger</span>
                     <span class="text-primary">$115</span>
                   </h5>
                   <div class="row g-3">
                     <small class="col-10 fst-italic">Yummy chicken, best for your dinner </small>
                     <button class="col-2 btn btn-primary" onclick="addToCart()">
                       <img src="https://www.svgrepo.com/show/488039/add-to-cart.svg" width="32" height="32" />
                     </button>
                   </div>
                 </div>
               </div>
             </div>
             <div class="col-lg-6">
               <div class="d-flex align-items-center">
                 <img role="button" class="flex-shrink-0 img-fluid rounded" src="img/menu-8.jpg" alt="" style="width: 80px;" onclick="showDescription(8)">
                 <div class="w-100 d-flex flex-column text-start ps-4">
                   <h5 class="d-flex justify-content-between border-bottom pb-2">
                     <span role="button" onclick="showDescription(8)">Chicken Burger</span>
                     <span class="text-primary">$115</span>
                   </h5>
                   <div class="row g-3">
                     <small class="col-10 fst-italic">Yummy chicken, best for your dinner </small>
                     <button class="col-2 btn btn-primary" onclick="addToCart()">
                       <img src="https://www.svgrepo.com/show/488039/add-to-cart.svg" width="32" height="32" />
                     </button>
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>

     <div id="overlay" class="overlay" onclick="closeDescription()"></div>

     <div class="description-box p-3 shadow d-flex flex-column flex-lg-row" id="descriptionBox">
       <!-- Image -->
       <div class="image-section d-flex flex-column m-auto col-12 col-lg-4">
         <img class="flex-shrink-0 img-fluid rounded mb-2" src="img/menu-1.jpg" alt="" id="productImage">
         <button class="btn btn-primary-custom mb-2 playwrite-gb-s-custom" onclick="addToCart()">Add to cart</button>
         <button class="btn btn-secondary-custom playwrite-gb-s-custom" onclick="closeDescription()">Close</button>
       </div>
       <!-- Details -->
       <div class="content-section px-lg-3 d-flex flex-column col-12 col-lg-8 playwrite-gb-s-custom">
         <div id="productTitle"></div> <!-- Title -->
         <div id="productDescription"></div> <!-- Description -->
       </div>
     </div>
   </div>
 </div>
 <!-- Menu End -->