<table class="table table-bordered table-light">
    <thead class="table-head top-lg-0">
        <tr>
            <th class="text-center" style="width: 2%;">Id</th>
            <th class="text-center" style="width: 10%;">Image</th>
            <th class="text-start" style="width: 13%;">Name</th>
            <th class="text-end" style="width: 8%;">Price</th>
            <th class="text-end" style="width: 12%;">Status</th>

            <th class="text-start" style="width: 25%;">Description</th>
            <th class="text-start" style="width: 25%;">Categories</th>
            <th class="text-start" style="width: 5%;">Actions</th>
        </tr>
    </thead>
    <tbody id="productListBody">
        <%- include('add_new') %>
        <% if (products.length === 0) { %>
        <div class="col-lg-12 d-flex justify-content-center mb-4">
            <span class="text-center lead">(No products found)</span>
        </div>
        <% } else { %>
        <% products.forEach(product => { %>
        <%- include('food_item', { product: product }) %>
        <% }); %>
        <% }; %>
    </tbody>
</table>
