<span class="category-badge position-relative">
  <a class="category-badge-link" href="/admin/products?category=<%=category%>"><%=category%></a>
  <!-- Remove button badge (hidden by default) -->
  <button class="d-none category-remove position-absolute btn bg-danger rounded-circle text-white text-center py-0 px-1" style="font-size: xx-small; top: -4px; right: -10px" onclick="removeCategory(this)">
    x
  </button>
</span>